*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #103B46;
    color: white;
    align-items: center;
    padding: 30px 50px;
    margin: 20px;
    border-radius: 15px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 15px;
}

header h1:hover{
    cursor: none;
}

.nav-links a:hover{
    background-color: rgb(15, 132, 161);
    border-radius: 5px;
    transition: 300ms;
}

@media(max-width: 900px){
    .header{
        flex-direction: column;
    }
    .nav-links{
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
    }
    .nav-links a{
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .nav-links a:hover{
        background-color: rgb(15, 132, 161);
        border-radius: 10px;
    }
}


.layout{
    display: grid;
    grid-template-columns: 230px 1fr;
    min-height: calc(100vh - 200px);
    border-radius: 5px;
    margin: 20px;
    border-radius: 15px;
}


.sidebar{
    background-color: #103B46;
    border-radius: 15px;
    padding: 30px 20px;
    
}
.sidebar ul{
    list-style: none;
    color: white;
    margin-top: 20px;
    line-height: 40px;
    margin-left: -40px;
}

.sidebar ul li:hover{
    cursor: pointer;
    color: rgb(15, 132, 161);
    border-radius: 5px;
    transition: 300ms;
}
.sidebar h2:hover{
    cursor: none;
}


.content{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    border-radius: 10px;
}

.card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgb(119, 111, 111);
}
.card img{
    width: 100%;
    height: 200px;
}

.card h3{
    padding:20px;
}
.card p {
    padding: 0 20px 20px;
    line-height: 30px;
    color: lightslategray;
}

.card:hover{
    transform: translateY(-10px);
    transition: 300ms;
}

@media(max-width: 900px){
    .layout{
        grid-template-columns: 1fr;
    }
}


.content-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-2{
    background-color: rgb(15, 132, 161);
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgb(119, 111, 111);
    color: #ffffff;
    display: grid;
    place-content: center;
    gap: auto;
}

.card-2 h3{
    margin: auto;
}

.footer{
    display: flex;
    background-color: #103B46;
    color: white;
    justify-content: center;
    padding: 30px 50px;
    border-radius: 15px;
    margin: 0 20px;
}

@media(max-width: 900px){
    .card-2{
        height: 200px;
    }
}
